<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hello.springboot.dao.TraceMapper">
  <resultMap id="BaseResultMap" type="com.hello.springboot.entity.Trace">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="strategy_id" jdbcType="BIGINT" property="strategyId" />
    <result column="strategy_name" jdbcType="VARCHAR" property="strategyName" />
    <result column="felids" jdbcType="VARCHAR" property="felids" />
    <result column="subcommand" jdbcType="VARCHAR" property="subcommand" />
    <result column="felids_value" jdbcType="VARCHAR" property="felidsValue" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="suspect_percent" jdbcType="DECIMAL" property="suspectPercent" />
    <result column="cnt" jdbcType="BIGINT" property="cnt" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, strategy_id, strategy_name, felids, subcommand, felids_value, start_time, end_time, 
    suspect_percent, cnt
  </sql>
  <select id="selectByExample" parameterType="com.hello.springboot.entity.TraceExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from trace
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from trace
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from trace
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.hello.springboot.entity.TraceExample">
    delete from trace
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hello.springboot.entity.Trace">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into trace (strategy_id, strategy_name, felids, 
      subcommand, felids_value, start_time, 
      end_time, suspect_percent, cnt
      )
    values (#{strategyId,jdbcType=BIGINT}, #{strategyName,jdbcType=VARCHAR}, #{felids,jdbcType=VARCHAR}, 
      #{subcommand,jdbcType=VARCHAR}, #{felidsValue,jdbcType=VARCHAR}, #{startTime,jdbcType=TIMESTAMP}, 
      #{endTime,jdbcType=TIMESTAMP}, #{suspectPercent,jdbcType=DECIMAL}, #{cnt,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hello.springboot.entity.Trace">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into trace
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="strategyId != null">
        strategy_id,
      </if>
      <if test="strategyName != null">
        strategy_name,
      </if>
      <if test="felids != null">
        felids,
      </if>
      <if test="subcommand != null">
        subcommand,
      </if>
      <if test="felidsValue != null">
        felids_value,
      </if>
      <if test="startTime != null">
        start_time,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
      <if test="suspectPercent != null">
        suspect_percent,
      </if>
      <if test="cnt != null">
        cnt,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="strategyId != null">
        #{strategyId,jdbcType=BIGINT},
      </if>
      <if test="strategyName != null">
        #{strategyName,jdbcType=VARCHAR},
      </if>
      <if test="felids != null">
        #{felids,jdbcType=VARCHAR},
      </if>
      <if test="subcommand != null">
        #{subcommand,jdbcType=VARCHAR},
      </if>
      <if test="felidsValue != null">
        #{felidsValue,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="suspectPercent != null">
        #{suspectPercent,jdbcType=DECIMAL},
      </if>
      <if test="cnt != null">
        #{cnt,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hello.springboot.entity.TraceExample" resultType="java.lang.Long">
    select count(*) from trace
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update trace
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.strategyId != null">
        strategy_id = #{record.strategyId,jdbcType=BIGINT},
      </if>
      <if test="record.strategyName != null">
        strategy_name = #{record.strategyName,jdbcType=VARCHAR},
      </if>
      <if test="record.felids != null">
        felids = #{record.felids,jdbcType=VARCHAR},
      </if>
      <if test="record.subcommand != null">
        subcommand = #{record.subcommand,jdbcType=VARCHAR},
      </if>
      <if test="record.felidsValue != null">
        felids_value = #{record.felidsValue,jdbcType=VARCHAR},
      </if>
      <if test="record.startTime != null">
        start_time = #{record.startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.endTime != null">
        end_time = #{record.endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.suspectPercent != null">
        suspect_percent = #{record.suspectPercent,jdbcType=DECIMAL},
      </if>
      <if test="record.cnt != null">
        cnt = #{record.cnt,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update trace
    set id = #{record.id,jdbcType=BIGINT},
      strategy_id = #{record.strategyId,jdbcType=BIGINT},
      strategy_name = #{record.strategyName,jdbcType=VARCHAR},
      felids = #{record.felids,jdbcType=VARCHAR},
      subcommand = #{record.subcommand,jdbcType=VARCHAR},
      felids_value = #{record.felidsValue,jdbcType=VARCHAR},
      start_time = #{record.startTime,jdbcType=TIMESTAMP},
      end_time = #{record.endTime,jdbcType=TIMESTAMP},
      suspect_percent = #{record.suspectPercent,jdbcType=DECIMAL},
      cnt = #{record.cnt,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hello.springboot.entity.Trace">
    update trace
    <set>
      <if test="strategyId != null">
        strategy_id = #{strategyId,jdbcType=BIGINT},
      </if>
      <if test="strategyName != null">
        strategy_name = #{strategyName,jdbcType=VARCHAR},
      </if>
      <if test="felids != null">
        felids = #{felids,jdbcType=VARCHAR},
      </if>
      <if test="subcommand != null">
        subcommand = #{subcommand,jdbcType=VARCHAR},
      </if>
      <if test="felidsValue != null">
        felids_value = #{felidsValue,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null">
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="suspectPercent != null">
        suspect_percent = #{suspectPercent,jdbcType=DECIMAL},
      </if>
      <if test="cnt != null">
        cnt = #{cnt,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hello.springboot.entity.Trace">
    update trace
    set strategy_id = #{strategyId,jdbcType=BIGINT},
      strategy_name = #{strategyName,jdbcType=VARCHAR},
      felids = #{felids,jdbcType=VARCHAR},
      subcommand = #{subcommand,jdbcType=VARCHAR},
      felids_value = #{felidsValue,jdbcType=VARCHAR},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      suspect_percent = #{suspectPercent,jdbcType=DECIMAL},
      cnt = #{cnt,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>